.signup-container{
    display: flex;
    justify-content: center;
    height: 100vh;
}

.signup-container .header{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.signup-container .header p{
    font-size: 8rem;
    font-family: var(--source-sans-font);
}

.signup-container .header p span{
    color: var(--header-color);
}

.signup-container .header .menu a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    background: var(--header-color);
    padding: 4px 8px;
    border-radius: 4px;
    color: #fff;
}
.signup-container .auth-form-container{
    width: 50%;
    background: var(--asphalt-color);
}


.signup-container .auth-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.signup-container .auth-form-container p{
    font-size: 5rem;
    text-align: center;
    color: var(--subheader-color);
    font-family: var(--source-sans-font);
}

.signup-container .auth-form-container .signup-form{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 50%;
    height: 55vh;
    padding: 20px;
    background: #ffffff;
    border-radius: 7px;
    padding-bottom: 25px;
}

.signup-container .auth-form-container .signup-form .signup-image{
    object-fit: contain;
    max-width: 64%;
    align-self: center;
}

.signup-container .auth-form-container .signup-form input{
    padding: 5px;
    margin-bottom: 5px;
}

.signup-container .auth-form-container .signup-form .submit-button{
    padding: 7px 15px;
    border-radius: 7px;
    border: none;
    background: var(--header-color);
    color: #fff;
    cursor: pointer;
    transition: 0.4s;
    
}

.signup-container .auth-form-container .signup-form .submit-button:hover{
    background-color: var(--ufo-green);   transition: 0.4s;
}

.signup-container .auth-form-container .login-account-btn{
    text-decoration: none;
    color: #0984e3;
    font-size: 1.5rem;
}

@media (max-width:768px){
    .signup-container .auth-form-container .signup-form{
        width: 70%;
        height: 48vh;
    }
    .signup-container .auth-form-container .signup-form .signup-image{
        max-width: 55%;
    }   
     .signup-container .auth-form-container .login-account-btn{
        font-size: 2rem;
    }
}

@media (max-width:500px){
    .signup-container{
        flex-direction: column;
        width: 100vw;
    }
    .signup-container .auth-form-container{
        width: 100vw;
        background: #fff;
    }
    .signup-container .auth-form-container .signup-header{
        display: none
    }
    .signup-container .header{
        padding-top: 100px;
        width: 100%;
    }
    .signup-container .auth-form-container .signup-form{
        width: 90%;
        height: 35vh;
        margin-top: 40rem;
    }
    .signup-container .auth-form-container .login-account-btn{
        font-size: 5rem;
    }
    .signup-container .header .menu{
        height: 40px;
    }
    .signup-container .header .menu a{
        font-size: 3rem;
    }
}