.signin-container{
    display: flex;
    justify-content: center;
    height: 100vh;
}

.signin-container .header{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.signin-container .header .menu a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    background: var(--header-color);
    padding: 4px 8px;
    border-radius: 4px;
    color: #fff;
}

.signin-container .header p{
    font-size: 8rem;
    font-family: var(--source-sans-font);
}

.signin-container .header p span{
    color: var(--header-color);
}

.signin-container .auth-form-container{
    width: 50%;
    background: var(--asphalt-color);
}


.signin-container .auth-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.signin-container .auth-form-container .signin-header{
    font-size: 5rem;
    text-align: center;
    color: var(--subheader-color);
    font-family: var(--source-sans-font);
}

.signin-container .auth-form-container .signin-form{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 50%;
    height: 50vh;
    padding: 20px;
    background: #ffffff;
    border-radius: 7px;
    padding-bottom: 25px;
}

.signin-container .auth-form-container .signin-form .signin-image{
    object-fit: contain;
}

.signin-container .auth-form-container .signin-form input{
    padding: 5px;
    margin-bottom: 5px;
}

.signin-container .auth-form-container .signin-form .submit-button{
    padding: 7px 15px;
    border-radius: 7px;
    border: none;
    background: var(--header-color);
    color: #fff;
    cursor: pointer;
    transition: 0.4s;
    
}

.signin-container .auth-form-container .signin-form .submit-button:hover{
    background-color: var(--ufo-green);   transition: 0.4s;
}

.signin-container .auth-form-container .create-account-btn{
    text-decoration: none;
    color: #0984e3;
    font-size: 1.5rem;
}

@media (max-width:768px){
    .signin-container .auth-form-container .signin-form{
        width: 70%;
        height: 40vh;
    }
    .signin-container .auth-form-container .create-account-btn{
        font-size: 2rem;
    }

}

@media (max-width:568px){
    .signin-container{
        flex-direction: column;
        width: 100vw;
        padding-top: 50px;
    }
    .signin-container .auth-form-container{
        width: 100vw;
        background: #fff;
    }
    .signin-container .auth-form-container .signin-header{
        display: none
    }
    .signin-container .header{
        width: 100%;
        padding-bottom: 100px;
    }
    .signin-container .auth-form-container .signin-form{
        width: 90%;
        height: 35vh;
    }
    .signin-container .auth-form-container .create-account-btn{
        font-size: 5rem;
    }
    .signin-container .header .menu a{
        font-size: 5rem;
    }

}