.create-leave-container{
    display: flex;
    justify-content: center;
    height: 100vh;
}

.create-leave-container .header{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.create-leave-container .header .menu a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    background: var(--header-color);
    padding: 4px 8px;
    border-radius: 4px;
    color: #fff;
    margin: 2px;
}

.create-leave-container .header p{
    font-size: 8rem;
    font-family: var(--source-sans-font);
}

.create-leave-container .header p span{
    color: var(--header-color);
}

.create-leave-container .leave-form{
    width: 50%;
    background: var(--asphalt-color);
}

.create-leave-container .leave-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.create-leave-container .leave-form .create-leave-form{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50vh;
    padding: 20px;
    background: #ffffff;
    border-radius: 7px;
}

.create-leave-container .leave-form .create-leave-form label{
    font-size: 1.5rem;
}

.create-leave-container .leave-form .create-leave-form .create-leave-header{
    font-size: 4rem;
    text-align: center;
    font-family: var(--ubuntu-font);
}

.create-leave-container .leave-form .create-leave-btn{
    margin-top: 10px;
    font-size: 2rem;
}

.react-date-picker__inputGroup{
    font-size: 2rem;
}

@media (max-width:768px){
    .create-leave-container .leave-form .create-leave-form .create-leave-header{
        font-size: 4rem;
    }
    .create-leave-container .header p{
        font-size: 6rem;
        font-family: var(--source-sans-font);
    }
    .create-leave-container .leave-form .create-leave-form label, input{
        font-size: 2rem;
    }
    .create-leave-container .leave-form .create-leave-form{
        width: 70%;
        height: 45vh;
    }
    .create-leave-container .leave-form .create-leave-btn{
        font-size: 2.5rem;
    }
    .react-date-picker__inputGroup{
        font-size: 3rem;
    }

}

@media (max-width:500px){
    .create-leave-container .leave-form .create-leave-form label, input{
        font-size: 4rem;
    }
    .create-leave-container{
        flex-direction: column;
        width: 100vw;
    }
    .create-leave-container .leave-form{
        width: 100vw;
        background: #fff;
    }

    .create-leave-container .header{
        padding-top: 100px;
        width: 100%;
    }
    .create-leave-container .header p{
        font-size: 9rem;
    }
    .create-leave-container .header .menu a{
        font-size: 2.5rem;
    }
    .create-leave-container .leave-form .create-leave-form{
        width: 90%;
        height: 35vh;
    }
    .create-leave-container .leave-form .create-leave-btn{
        font-size: 4rem;
    }
    .react-date-picker__inputGroup{
        font-size: 4rem;
    }

}