.listing-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 4rem 12rem;
    text-align: center;
}

.listing-container .filters{
    display: flex;
    flex-wrap: wrap;
}

.listing-container .filters .filter-tabs{
    border-radius: 5px;
    padding: 2px 6px;
    background: #b2bec3;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 2px;
}

.listing-container .custom-filter{
    display: flex;
    flex-direction: column;
    margin: 2px;
    width: 30%;
}

.listing-container .custom-filter .apply{
    border-radius: 5px;
    padding: 2px 6px;
    background: #b2bec3;
    cursor: pointer;
    margin: 2px;
}

.listing-container .custom-filter{
    font-size: 1.5rem;
}

.listing-container .upcoming-leaves-header, .past-leaves-header{
    font-size: 4rem;
    font-family: var(--source-sans-font);
    color: #2d3436;
}

.listing-container table{
    border-spacing: 0;
}

.listing-container table thead tr th{
    border: none;
    padding: 5px;
    background-color: var(--asphalt-color);
    color: #fff;
}

.listing-container th{
    border:1px solid black;
}

.listing-container  table, td{
    padding: 5px;
    font-size: 1.5rem;
}

.listing-container  table tr:nth-child(2n){
    background: #b2bec3;
    color: #fff;
}

.listing-container  table tr:nth-child(2n + 1){
    background: #ecf0f1 ;
}

.listing-container .upcoming-leaves-table{
    margin-bottom: 2rem;
}

.listing-container .upcoming-leaves-table .edit-leave{
    margin-right: 4rem;
}
.listing-container .upcoming-leaves-table .delete-leave{
    color: #34495e;
    cursor: pointer;
}

.listing-container .upcoming-leaves-table .delete-leave:active{
    color: red;
}

@media (max-width:768px){
    .listing-container{
        margin: 2rem 6rem;
    }
    .listing-container .filters .filter-tabs{
        font-size: 3rem;
    }
    
    .listing-container  table, td{
        font-size: 2rem;
    }
    .listing-container .react-date-picker__inputGroup{
        font-size: 3rem;
    }
    .listing-container .custom-filter{
        width: 50%;
    }
    .listing-container .custom-filter{
        font-size: 3rem;
    }
    
}

@media (max-width:500px){
    .listing-container{
        margin: 1rem 1rem;
    }
    .listing-container .filters .filter-tabs{
        font-size: 3rem;
    }
    
    .listing-container  table, td{
        font-size: 4rem;
    }
    .listing-container .react-date-picker__inputGroup{
        font-size: 4rem;
    }
    .listing-container .custom-filter{
        width: 70%;
    }
    .listing-container .custom-filter{
        font-size: 4rem;
    }
}
